apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configurations:
  - configuration.yaml
resources:
  - app.yaml
configMapGenerator:
  - name: app-a
    literals:
      - "PYROSCOPE_URL=http://pyroscope.pyroscope:4040"
      - "SERVICE_B_URL=http://app-b.app-b:8080"
      - "OTEL_SERVICE_NAME=app-a"
      - "OTEL_EXPORTER_JAEGER_HTTP_ENDPOINT=http://tempo.tempo:14268/api/traces"
